/* The heading (Duy) */
h1 {
   font-family: 'GrotesqueBourgeoisieRegular';
   font-weight: normal;
   font-style: normal;
   text-align:center;
   margin-top: 10px;
   margin-bottom: 10px;
   background-color: #5871b1;
   color: #fff;
   font-size: 600%;
   padding: 10px;
}

/* Light color (Duy) */
.white{
   border: 1px solid black;
   background-color: #fbe7f9;
   height:125px;
   width:125px;
}

/* Set the row (Duy) */
.row{
   display: flex;
   margin-left:20%;
   margin-right:10%;
}

/* Control the way the chessboard appear (Duy) */
#container {
   margin-right:5%;
   text-align: center;
   margin-top:5%;
}

/* Control the image (Duy) */
img {
   display: block;
   margin-top: 15%;
   margin-left: 10%;
}
