body {
  text-align: center;
  font-family: Arial, sans-serif;
  background-color: #6CABDD;
}

h1 {
  font-family: 'MinecrafterAltRegular';
  font-weight: normal;
  font-style: normal;
  font-size: 50px;
}

button {
  font-family: 'MinecrafterAltRegular';
  font-weight: normal;
  font-style: normal;
}

p {
   font-family: 'MinecraftiaRegular';
   font-weight: normal;
   font-style: normal;
   font-size: 24px;
   text-decoration: underline;
}

li {
   font-family: 'MinecraftiaRegular';
   font-weight: normal;
   font-style: normal;
   font-size: 15px;
   margin: 5px;
   text-decoration: none;
}

#game-container {
  position: relative;  
  display: block;  
  width: 100%;  
  max-width: 800px;
  margin: 0 auto;
  padding: 0;  
}

#game-container img {
  width: 100%; 
  height: auto;
  display: block;
  margin: 0;
}

.clickable {
  position: absolute;
  display: block;
  background: rgba(255, 0, 0, 0); 
  cursor: pointer;
  transform: translate(-50%, -50%); 
}

#replay-button {
  background-color: #2fd5cd;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  display: block;
  margin: 20px auto;
}

#replay-button:hover {
  background-color: #2fadd5;
}

ul {
  list-style-type: none;
  padding: 0;
}
