* {
   font-family: 'LemonRegular', Verdana, sans-serif;
   color: #26605c;
   text-align: center;
   }

h1 {
   font-family: 'LemonRegular';
   font-weight: bold;
   font-style: normal;
   color: #e1e0d2;
}

img {
  border: 0;
}

body {
	width: 90%;
    margin: 0 auto;
   }

#nav, #feature, #footer {
	margin: 1%;
   }

li {
	display: inline;
	padding: 0.5em;
   }

#nav, #footer {
	background-color: #b697b6;
	padding: 0.5em 0;
   }

.image_solution {
  height: 175px;
  width: 250px;
}

.article {
  height: 20em;
  margin-bottom: 1em;
}

.solution {
  font-family: "Times New Roman", serif;
  font-weight: bold;
}

.feature {
  width: 68%;
  float: left;
  background-color: #ede5a6;
  margin: 1%;
}

.images {
  width: 28%; 
  float: left;
  background-color: #ede5a6;
  margin: 1%;
}

.css {
  width: 48%;
  float: left;
  background-color: #ede5a6;
  margin: 1%;
  height: 1450px;
}

.html {
  width: 48%; 
  float: left;
  background-color: #ede5a6;
  margin: 1%;
  height: 1450px;
}

#aHeader {
  background-color: #ede5a6;
  height: 1.5em;
  margin: 1%;
}

p {
  font-family: "Times New Roman", serif;
  font-weight: bold;
}

.artifact {
  background-color: #ede5a6;
  height: 18em;
  margin: 1%;
}

.course {
  background-color: #ede5a6;
  height: 12em;
  margin: 1%;
}

#thanks {
  font-size: 50px;
}

#content {
  overflow: hidden;
}

body {
  background-image: url("https://antonidimes.github.io/dev109/finalp1/images/upscalemedia-transformed.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#about {
  background-color: #ede5a6;
  height: 20em;
  margin: 1%;
  font-size: 18px;
}

#form {
  background-color: #ede5a6;
  padding: 20px;
  border-radius: 8px;
  max-width: 600px;
  margin: 1% auto;
  font-size: 18px;
}

form {
  max-width: 100%; 
  padding: 10px; 
  background: none;
  box-shadow: none; 
  border-radius: 8px;
}

input[type="text"], textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  background-color: #fff; 
}

form label {
  display: block;
  margin-top: 15px;
  font-weight: bold;
}

div[id$="Error"] {
  color: red;
  font-size: 0.9em;
  margin-top: 5px;
}

textarea {
  height: 100px;
  resize: vertical;
}

#nameError, #emailError,  {
  color: red;
  font-weight: bold;
  font-size: 1em;
  margin-top: 20px;
  margin-bottom: 10px;
}

button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #3de4ec;
}

